<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.todo.dao.mapper.TodoItemMapper">

    <resultMap id="BaseResultMap" type="com.example.todo.todo.dao.entity.TodoItemDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, title, description, status, gmt_create, gmt_modified
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.todo.todo.dao.entity.TodoItemDO">
        INSERT INTO todo_item (user_id, title, description, status, gmt_create, gmt_modified)
        VALUES (#{userId}, #{title}, #{description}, #{status}, #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM todo_item
        WHERE id = #{id}
    </select>

</mapper>